extends _layout

block body
  #top
    a.github(href='https://github.com/dawson-org/dawson-cli')
      img(src='img/GitHub-Mark-Light-64px.png')
    .container
      .spacer-100
      img.logo(src='img/dawson-logo@2x-white.png' alt='dawson | a serverless framework for Node.js on AWS')
      h1 a serverless framework for Node.js on AWS
      .spacer-50

      .terminal-window
        .bar
          .btn
        .body
          pre
            .comment # write your code
            .prompt
              | $&nbsp;
              span.command vim api.js

            .comment(style='margin-top: 15px;') # deploy your app
            .prompt
              | $&nbsp;
              span.command dawson deploy
            .comment(style='margin-top: 15px; padding-left: 30px; color: #0b0').
              URL: https://d123456789abcd.cloudfront.net

            .comment(style='margin-top: 15px;') # run your app locally
            .prompt
              | $&nbsp;
              span.command dawson dev
            //- span.pulse _
      .spacer-20
      a.pure-button.pure-button-negative(href='docs.html')
        span View full documentation
      .spacer-100

  #preview
    .container
      .spacer-50
      .padding

        .intro
          :markdown-it(breaks=true linkify=true)

            dawson is a [serverless](https://auth0.com/blog/what-is-serverless/) web framework for Node.js on AWS.
            dawson uses [AWS CloudFormation](https://aws.amazon.com/cloudformation/), [Amazon CloudFront](https://aws.amazon.com/cloudfront/), [Amazon API Gateway](https://aws.amazon.com/apigateway/) and  [AWS Lambda](https://aws.amazon.com/lambda/) to deploy the backend code and to manage the infrastructure for you.

        .spacer-50

        .others
          .text-center.for-me
            h1 Is dawson for me?
            .pure-g
              .pure-u-1.pure-u-md-1-3
                .padding
                  img(src='img/icon-code-100.png')
                  h3 I'm building a single-page app/website with a backend
              .pure-u-1.pure-u-md-1-3
                .padding
                  img(src='img/icon-api-100.png')
                  h3 I'm building an API
              .pure-u-1.pure-u-md-1-3
                .padding
                  img(src='img/icon-website-100.png')
                  h3 I'm building a server-rendered app/website

          .spacer-50

          :markdown-it(breaks=true linkify=true html=true)
            The main goal of dawson is to be a zero-configuration yet fully extensible framework for building Node.js serverless web apps on AWS. You should be able to start using dawson without creating any configuration file and with only a basic knowledge of Amazon Web Services.

            <div class="spacer-10"></div>

            ```js
            // api.js

            import pug from 'pug';
            const template = pug.compileFile('template.pug');

            export async function greet (event) {
              const name = event.params.path.name
              const age = await getUserAge(name);
              return template({ name, age });
            }
            greet.api = {
              path: 'greet/{name}'
            }
            ```

            ```bash
            $ npm install -g dawson
            $ export AWS_REGION=... AWS_ACCESS_KEY_ID=... AWS_SECRET_ACCESS_KEY=...
            $ dawson deploy
            ```

          .spacer-10
          .text-center
            a.pure-button(href='docs.html')
              span View full documentation

    .spacer-50


  footer
    .container
      .padding
        p.text-center
          | Made with &hearts; in Milan&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
          a(href='https://github.com/dawson-org/dawson-cli' target='_blank') View and contribute on <strong>github</strong>

  .spacer-50
